body {
  font-family: Arial, Helvetica, sans-serif;
  color: #606770;
  background-color: #FBFBFC;
  display: flex;
  justify-content: center;
}

.container {
  width: 27rem;
  height: auto;
  margin: 5.5rem;
  border-radius: 8px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.625rem 1rem;
  text-align: left;
}
.cont{
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.158);
  margin-bottom: 1rem;
}
.container p{
  font-size: 11px;
  margin-top: -1rem;
}
.cont p{
  font-size: 15px;
  margin-top: -1.3rem;
  margin-bottom: 1.3rem;
}
.cont h2{
  margin-top: 0.2rem;
  font-size: 32px;
  color: #1c1e21;
}

.shadow {
  box-shadow: 0px 0px 5px #00000021;
}

.width {
  width: 96%;
}
.width2 {
  width: 50%;
}

input,
select, .gen {
  height: 2.25rem;
  border: 1px solid #ccd0d5;
  border-radius: 5px;
  color: #636363;
  padding: 0 0.4rem;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
}

input {
  background-color: #F5F6F7;
}

select, .gen{
  color: #1c1e21;
}

label{
  font-size: 12px;
}

#name {
  width: 12.3rem;
}
#lastName {
  width: 12.3rem;
}

*::-webkit-input-placeholder{
  color:#00000081;
}

#day {
  width: 8.7rem;
}
#month {
  width: 8.7rem;
}
#year {
  width: 8.7rem;
}

.btn {
  display: flex;
  justify-content: center;
}
#btn {
  background-color: #00a400;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  width: auto;
  height: 2.25rem;
  border-radius: 6px;
  box-shadow: none;
  padding: 0 32px;
}
#btn:hover {
  background-color: #08c708;
  cursor: pointer;
}
.cont-gen, .gen{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#femenino, #masculino, #pers{
  margin-top: 1rem;
  margin-left: 3rem;
}